/*
 * Copyright 2018 Royal Bank of Scotland
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.services-list
  background #000
  color rgba(255, 255, 255, 0.9)
  display inline-block
  float left
  font-size 20px
  margin 0
  min-height 1px
  overflow-y auto
  width 250px 
  z-index 100

  ul
    margin 0
    padding 0
    max-height calc(100vh - 115px)
    overflow-y auto
    text-align center
    
    li
      border-bottom 2px solid rgba(255, 255, 255, 0.9)
      list-style none
      padding 7px 10px
      cursor pointer